<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>404 - Not Found</h1>
        <p><%= message %></p>
        <a href="/">Go to Home</a>
    </div>
</body>
</html>