<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>404 - Not Found</h1>
        <p><%= message %></p>
        <a href="/">Go to Home</a>
    </div>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>404 - Not Found</h1>
        <p><%= message %></p>
        <a href="/">Go to Home</a>
    </div>
</body>
>>>>>>> 5727652b69a5727bc4026541f31d5c71089e0237
</html>